n8n/workflows/morning-orchestrator.json
{
  "name": "ORBIT Morning Orchestrator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "name": "Daily 7AM Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{$env.ORBIT_API_URL}}/api/v1/users/active",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Get Active Users",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        460,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "orbit-api-key",
          "name": "ORBIT API Key"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Process each user for morning briefing\nconst users = $input.all();\nconst processedUsers = [];\n\nfor (const user of users) {\n  const userData = user.json;\n  \n  // Create context for each user\n  const userContext = {\n    user_id: userData.id,\n    name: userData.name,\n    timezone: userData.timezone || 'UTC',\n    preferences: userData.preferences || {},\n    timestamp: new Date().toISOString()\n  };\n  \n  processedUsers.push({\n    json: userContext\n  });\n}\n\nreturn processedUsers;"
      },
      "name": "Process Users",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{$env.ORBIT_API_URL}}/api/v1/users/{{$json.user_id}}/context",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Get User Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        900,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "orbit-api-key",
          "name": "ORBIT API Key"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendarId": "primary",
        "options": {
          "timeMin": "={{new Date().toISOString()}}",
          "timeMax": "={{new Date(Date.now() + 24*60*60*1000).toISOString()}}"
        }
      },
      "name": "Get Calendar Events",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        900,
        480
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "google-calendar-oauth",
          "name": "Google Calendar OAuth"
        }
      }
    },
    {
      "parameters": {
        "operation": "currentWeather",
        "locationSelection": "cityName",
        "cityName": "={{$json.location || 'New York'}}"
      },
      "name": "Get Weather",
      "type": "n8n-nodes-base.openWeatherMap",
      "typeVersion": 1,
      "position": [
        900,
        660
      ],
      "credentials": {
        "openWeatherMapApi": {
          "id": "openweather-api",
          "name": "OpenWeather API"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Combine all context data for AI processing\nconst userContext = $('Get User Context').first().json;\nconst calendarEvents = $('Get Calendar Events').all().map(item => item.json);\nconst weather = $('Get Weather').first().json;\nconst userData = $('Process Users').first().json;\n\n// Build comprehensive context\nconst aiContext = {\n  user_id: userData.user_id,\n  user_name: userData.name,\n  timestamp: new Date().toISOString(),\n  \n  // User context\n  current_goals: userContext.goals || [],\n  user_state: userContext.state || {},\n  recent_history: userContext.recent_activity || [],\n  \n  // External context\n  external_context: {\n    calendar: {\n      events_today: calendarEvents.length,\n      first_meeting: calendarEvents.length > 0 ? calendarEvents[0].start.dateTime : null,\n      busy_periods: calendarEvents.map(event => ({\n        start: event.start.dateTime,\n        end: event.end.dateTime,\n        summary: event.summary\n      }))\n    },\n    weather: {\n      temperature: weather.main?.temp,\n      condition: weather.weather?.[0]?.main,\n      description: weather.weather?.[0]?.description\n    },\n    time_of_day: 'morning',\n    day_of_week: new Date().toLocaleDateString('en-US', { weekday: 'long' })\n  }\n};\n\nreturn [{ json: aiContext }];"
      },
      "name": "Build AI Context",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{$env.ORBIT_API_URL}}/api/v1/interventions/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_input\": \"Generate morning briefing and daily plan\",\n  \"session_id\": \"morning-{{$json.user_id}}-{{new Date().toISOString().split('T')[0]}}\",\n  \"trigger_type\": \"scheduled\",\n  \"domain\": \"productivity\",\n  \"urgency\": \"medium\",\n  \"current_goals\": {{JSON.stringify($json.current_goals)}},\n  \"user_state\": {{JSON.stringify($json.user_state)}},\n  \"recent_history\": {{JSON.stringify($json.recent_history)}},\n  \"external_context\": {{JSON.stringify($json.external_context)}}\n}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Generate Morning Plan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1340,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "orbit-api-key",
          "name": "ORBIT API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.supervisor_evaluation?.overall_score || 0}}",
              "operation": "largerEqual",
              "value2": 0.7
            }
          ]
        }
      },
      "name": "Check AI Quality",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{$env.ORBIT_API_URL}}/api/v1/notifications/send",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{$('Build AI Context').first().json.user_id}}\",\n  \"type\": \"morning_briefing\",\n  \"title\": \"🌅 Your Morning Briefing is Ready!\",\n  \"content\": {{JSON.stringify($json.content)}},\n  \"metadata\": {\n    \"intervention_id\": \"{{$json.intervention_id}}\",\n    \"confidence\": {{$json.confidence}},\n    \"ai_reliability\": {{JSON.stringify($json.supervisor_evaluation)}}\n  },\n  \"channels\": [\"app\", \"email\"]\n}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Send Morning Briefing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1780,
        240
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "orbit-api-key",
          "name": "ORBIT API Key"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$env.ORBIT_API_URL}}/api/v1/interventions/{{$json.intervention_id}}/flag",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"reason\": \"low_quality_score\",\n  \"score\": {{$json.supervisor_evaluation?.overall_score || 0}},\n  \"action\": \"regenerate\"\n}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Flag Low Quality",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1780,
        360
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "orbit-api-key",
          "name": "ORBIT API Key"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$env.ORBIT_API_URL}}/api/v1/analytics/workflow-execution",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"workflow_name\": \"morning_orchestrator\",\n  \"execution_id\": \"{{$workflow.id}}\",\n  \"user_id\": \"{{$('Build AI Context').first().json.user_id}}\",\n  \"status\": \"completed\",\n  \"metrics\": {\n    \"execution_time_ms\": {{$workflow.executionTime}},\n    \"ai_quality_score\": {{$('Generate Morning Plan').first().json.supervisor_evaluation?.overall_score || 0}},\n    \"context_completeness\": 0.9\n  },\n  \"timestamp\": \"{{new Date().toISOString()}}\"\n}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Log Execution Metrics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2000,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "orbit-api-key",
          "name": "ORBIT API Key"
        }
      }
    }
  ],
  "connections": {
    "Daily 7AM Trigger": {
      "main": [
        [
          {
            "node": "Get Active Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Users": {
      "main": [
        [
          {
            "node": "Process Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Users": {
      "main": [
        [
          {
            "node": "Get User Context",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Calendar Events",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Weather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Context": {
      "main": [
        [
          {
            "node": "Build AI Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Calendar Events": {
      "main": [
        [
          {
            "node": "Build AI Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Weather": {
      "main": [
        [
          {
            "node": "Build AI Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build AI Context": {
      "main": [
        [
          {
            "node": "Generate Morning Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Morning Plan": {
      "main": [
        [
          {
            "node": "Check AI Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check AI Quality": {
      "main": [
        [
          {
            "node": "Send Morning Briefing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Flag Low Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Morning Briefing": {
      "main": [
        [
          {
            "node": "Log Execution Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flag Low Quality": {
      "main": [
        [
          {
            "node": "Log Execution Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "timezone": "America/New_York",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "error-handler-workflow"
  },
  "staticData": {},
  "tags": [
    {
      "createdAt": "2024-01-15T10:00:00.000Z",
      "updatedAt": "2024-01-15T10:00:00.000Z",
      "id": "orbit-morning",
      "name": "ORBIT Morning"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-15T10:00:00.000Z",
  "versionId": "1"
}