n8n/workflows/real-time-intervention.json
{
  "name": "ORBIT Real-Time Intervention Monitor",
  "nodes": [
    {
      "parameters": {
        "path": "intervention-trigger",
        "options": {}
      },
      "name": "Intervention Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "orbit-intervention-trigger"
    },
    {
      "parameters": {
        "functionCode": "// Process incoming intervention trigger\nconst payload = $json;\n\n// Validate required fields\nif (!payload.user_id) {\n  throw new Error('user_id is required');\n}\n\nif (!payload.trigger_event) {\n  throw new Error('trigger_event is required');\n}\n\n// Build intervention context\nconst context = {\n  user_id: payload.user_id,\n  trigger_event: payload.trigger_event,\n  timestamp: new Date().toISOString(),\n  \n  // Event details\n  event_data: payload.event_data || {},\n  \n  // User context\n  location: payload.location || null,\n  device_info: payload.device_info || {},\n  recent_activity: payload.recent_activity || [],\n  \n  // Urgency assessment\n  urgency: payload.urgency || 'medium',\n  domain: payload.domain || 'general',\n  \n  // Additional context\n  external_factors: {\n    time_of_day: new Date().getHours() < 12 ? 'morning' : new Date().getHours() < 17 ? 'afternoon' : 'evening',\n    day_of_week: new Date().toLocaleDateString('en-US', { weekday: 'long' }),\n    is_weekend: [0, 6].includes(new Date().getDay())\n  }\n};\n\nreturn [{ json: context }];"
      },
      "name": "Process Trigger",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{$env.ORBIT_API_URL}}/api/v1/users/{{$json.user_id}}/context",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Get User Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        680,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "orbit-api-key",
          "name": "ORBIT API Key"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$env.ORBIT_API_URL}}/api/v1/ai/should-intervene",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{$('Process Trigger').first().json.user_id}}\",\n  \"trigger_event\": \"{{$('Process Trigger').first().json.trigger_event}}\",\n  \"user_context\": {{JSON.stringify($json)}},\n  \"event_context\": {{JSON.stringify($('Process Trigger').first().json)}},\n  \"timestamp\": \"{{$('Process Trigger').first().json.timestamp}}\"\n}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Decision Engine",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        900,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "orbit-api-key",
          "name": "ORBIT API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.should_intervene}}",
              "value2": true
            }
          ]
        }
      },
      "name": "Should Intervene?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// Build comprehensive intervention request\nconst triggerContext = $('Process Trigger').first().json;\nconst userContext = $('Get User Context').first().json;\nconst decisionContext = $('Decision Engine').first().json;\n\n// Determine intervention urgency based on trigger\nlet urgency = triggerContext.urgency;\nif (decisionContext.risk_level === 'high') {\n  urgency = 'high';\n} else if (decisionContext.risk_level === 'critical') {\n  urgency = 'critical';\n}\n\n// Build intervention request\nconst interventionRequest = {\n  user_input: `Real-time intervention needed: ${triggerContext.trigger_event}`,\n  session_id: `realtime-${triggerContext.user_id}-${Date.now()}`,\n  trigger_type: 'reactive',\n  domain: triggerContext.domain,\n  urgency: urgency,\n  \n  current_goals: userContext.goals || [],\n  user_state: {\n    ...userContext.state,\n    current_activity: triggerContext.event_data.activity,\n    location: triggerContext.location,\n    energy_level: userContext.energy_level || 'medium'\n  },\n  \n  recent_history: [\n    ...userContext.recent_activity || [],\n    {\n      timestamp: triggerContext.timestamp,\n      event: triggerContext.trigger_event,\n      data: triggerContext.event_data\n    }\n  ],\n  \n  external_context: {\n    ...triggerContext.external_factors,\n    trigger_details: triggerContext.event_data,\n    intervention_reason: decisionContext.reason,\n    predicted_outcome: decisionContext.predicted_outcome\n  }\n};\n\nreturn [{ json: interventionRequest }];"
      },
      "name": "Build Intervention Request",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1340,
        240
      ]
    },
    {
      "parameters": {
        "url": "={{$env.ORBIT_API_URL}}/api/v1/interventions/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify($json)}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Generate Intervention",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1560,
        240
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "orbit-api-key",
          "name": "ORBIT API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.supervisor_evaluation?.overall_score || 0}}",
              "operation": "largerEqual",
              "value2": 0.6
            }
          ],
          "boolean": [
            {
              "value1": "={{$json.supervisor_evaluation?.approved || false}}",
              "value2": true
            }
          ]
        },
        "combineOperation": "all"
      },
      "name": "Quality Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1780,
        240
      ]
    },
    {
      "parameters": {
        "functionCode": "// Determine delivery method based on urgency and user preferences\nconst intervention = $json;\nconst triggerContext = $('Process Trigger').first().json;\nconst userContext = $('Get User Context').first().json;\n\n// Select delivery channels based on urgency\nlet channels = ['app']; // Default to in-app\n\nif (triggerContext.urgency === 'high' || triggerContext.urgency === 'critical') {\n  channels.push('push'); // Add push notification\n  \n  if (triggerContext.urgency === 'critical') {\n    channels.push('sms'); // Add SMS for critical\n  }\n}\n\n// Check user preferences\nconst userPrefs = userContext.notification_preferences || {};\nif (userPrefs.email_enabled && triggerContext.urgency !== 'low') {\n  channels.push('email');\n}\n\n// Build delivery payload\nconst deliveryPayload = {\n  user_id: triggerContext.user_id,\n  intervention_id: intervention.intervention_id,\n  type: 'real_time_intervention',\n  urgency: triggerContext.urgency,\n  \n  title: getInterventionTitle(triggerContext.trigger_event, triggerContext.urgency),\n  content: intervention.content,\n  \n  channels: channels,\n  \n  metadata: {\n    trigger_event: triggerContext.trigger_event,\n    confidence: intervention.confidence,\n    supervisor_scores: intervention.supervisor_evaluation,\n    delivery_timestamp: new Date().toISOString()\n  },\n  \n  // Action buttons for user response\n  actions: [\n    {\n      id: 'accept',\n      label: 'Got it!',\n      type: 'primary'\n    },\n    {\n      id: 'snooze',\n      label: 'Remind me later',\n      type: 'secondary'\n    },\n    {\n      id: 'dismiss',\n      label: 'Not now',\n      type: 'tertiary'\n    }\n  ]\n};\n\nfunction getInterventionTitle(triggerEvent, urgency) {\n  const urgencyEmojis = {\n    low: '💡',\n    medium: '⚡',\n    high: '🚨',\n    critical: '🔥'\n  };\n  \n  const eventTitles = {\n    'spending_alert': 'Budget Alert',\n    'workout_missed': 'Workout Reminder',\n    'goal_progress_stalled': 'Progress Check',\n    'stress_detected': 'Wellness Check',\n    'opportunity_detected': 'Opportunity Alert'\n  };\n  \n  const emoji = urgencyEmojis[urgency] || '💡';\n  const title = eventTitles[triggerEvent] || 'ORBIT Insight';\n  \n  return `${emoji} ${title}`;\n}\n\nreturn [{ json: deliveryPayload }];"
      },
      "name": "Prepare Delivery",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2000,
        180
      ]
    },
    {
      "parameters": {
        "url": "={{$env.ORBIT_API_URL}}/api/v1/notifications/send",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify($json)}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Deliver Intervention",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2220,
        180
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "orbit-api-key",
          "name": "ORBIT API Key"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$env.ORBIT_API_URL}}/api/v1/interventions/{{$('Generate Intervention').first().json.intervention_id}}/reject",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"reason\": \"quality_check_failed\",\n  \"supervisor_scores\": {{JSON.stringify($('Generate Intervention').first().json.supervisor_evaluation)}},\n  \"action\": \"log_and_improve\"\n}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Reject Low Quality",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2000,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "orbit-api-key",
          "name": "ORBIT API Key"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$env.ORBIT_API_URL}}/api/v1/analytics/intervention-skipped",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{$('Process Trigger').first().json.user_id}}\",\n  \"trigger_event\": \"{{$('Process Trigger').first().json.trigger_event}}\",\n  \"reason\": \"decision_engine_declined\",\n  \"decision_factors\": {{JSON.stringify($('Decision Engine').first().json)}},\n  \"timestamp\": \"{{$('Process Trigger').first().json.timestamp}}\"\n}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Log Skipped Intervention",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1340,
        360
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "orbit-api-key",
          "name": "ORBIT API Key"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$env.ORBIT_API_URL}}/api/v1/analytics/workflow-execution",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"workflow_name\": \"real_time_intervention\",\n  \"execution_id\": \"{{$workflow.id}}\",\n  \"user_id\": \"{{$('Process Trigger').first().json.user_id}}\",\n  \"trigger_event\": \"{{$('Process Trigger').first().json.trigger_event}}\",\n  \"status\": \"completed\",\n  \"outcome\": \"{{$('Should Intervene?').first().json.should_intervene ? 'intervention_delivered' : 'intervention_skipped'}}\",\n  \"metrics\": {\n    \"execution_time_ms\": {{$workflow.executionTime}},\n    \"decision_confidence\": {{$('Decision Engine').first().json.confidence || 0}},\n    \"ai_quality_score\": {{$('Generate Intervention').first()?.json?.supervisor_evaluation?.overall_score || 0}}\n  },\n  \"timestamp\": \"{{new Date().toISOString()}}\"\n}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Log Execution",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2440,
        240
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "orbit-api-key",
          "name": "ORBIT API Key"
        }
      }
    }
  ],
  "connections": {
    "Intervention Webhook": {
      "main": [
        [
          {
            "node": "Process Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Trigger": {
      "main": [
        [
          {
            "node": "Get User Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Context": {
      "main": [
        [
          {
            "node": "Decision Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decision Engine": {
      "main": [
        [
          {
            "node": "Should Intervene?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Intervene?": {
      "main": [
        [
          {
            "node": "Build Intervention Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Skipped Intervention",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Intervention Request": {
      "main": [
        [
          {
            "node": "Generate Intervention",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Intervention": {
      "main": [
        [
          {
            "node": "Quality Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quality Check": {
      "main": [
        [
          {
            "node": "Prepare Delivery",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reject Low Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Delivery": {
      "main": [
        [
          {
            "node": "Deliver Intervention",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deliver Intervention": {
      "main": [
        [
          {
            "node": "Log Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reject Low Quality": {
      "main": [
        [
          {
            "node": "Log Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Skipped Intervention": {
      "main": [
        [
          {
            "node": "Log Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "timezone": "America/New_York",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "error-handler-workflow"
  },
  "staticData": {},
  "tags": [
    {
      "createdAt": "2024-01-15T10:00:00.000Z",
      "updatedAt": "2024-01-15T10:00:00.000Z",
      "id": "orbit-realtime",
      "name": "ORBIT Real-time"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-01-15T10:00:00.000Z",
  "versionId": "1"
}